@font-face {
    font-family: "Sofia-pro";
    src: url("../fonts/sofiapro/Fonts/sofiapro-light.otf");
  }
  @font-face {
    font-family: "Tiempos";
    src: url("../fonts/Tiempos-Font/TiemposHeadline-Medium.otf");
  }

.dash { 
    background-color: #F8F1EB;
}
.dashboardBigTxt { 
    color: black;
    font-size: 30px;
    font-family: "Sofia-pro", 'sans-serif';
}
.dashboardBigTxt {
    display: flex;
    justify-content: center;
}
.dashboardBigTxtSum { 
    display: flex;
    font-family: "Tiempos", 'sans-serif';
    justify-content: center;
    color: #F7B954;
    font-size: 40px;
    
}
.dashboardBigTxtSum2 { 
    display: flex;
    font-family: "Tiempos", 'sans-serif';
    justify-content: center;
    color: black;
    font-size: 40px;
    
}
.sum {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #DCDCF9;
    height: 100vh;
    border-radius: 40% 0%;
}

.item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

