@font-face {
  font-family: "Sofia-pro";
  src: url("../fonts/sofiapro/Fonts/sofiapro-light.otf");
}
@font-face {
  font-family: "Tiempos";
  src: url("../fonts/Tiempos-Font/TiemposHeadline-Medium.otf");
}

nav {
    background-color: white !important;
    display: flex;
    justify-content: space-between !important;
}

nav a {
    color: #02183c !important;
}
.siteName {
    font-size: 35px;
    transition: .3s;
    font-family: "Tiempos", sans-serif !important;
    color: #4459C5 !important;
}
.siteLink {
    font-size: 15px;
    transition: .3s;
    color: #6375CF !important;
    font-family: 'Sofia-pro', sans-serif !important;
}
.navbar-brand:hover {
    color: #4459C5 !important;
    transition: .3s;
}

.nav-link:hover {
    color: #3766a1 !important;
    transition: .3s;
}
.secondaryLinks { 
  display: flex;
  flex-direction: row;
}

