@font-face {
    font-family: "Sofia-pro";
    src: url("../fonts/sofiapro/Fonts/sofiapro-light.otf");
    }
    @font-face {
        font-family: "Tiempos";
        src: url("../fonts/Tiempos-Font/TiemposHeadline-Medium.otf")
        }

.ui.center.aligned.header {
    color: #498C8D;
    font-family: "Sofia-pro"
}


.ui.message {  
    background-color: #fefeff !important;
}

.loginForm a { 
    color: #F7B954;
}
.loginForm a:hover {
    color: #f5c476
}


.ui.center.aligned.middle.grid {
    background-color: #F8F1EB !important;
    margin-top: 40px;
    border-radius: 40% 0%;
    box-shadow: 0 !important;
}