@font-face {
    font-family: "Sofia-pro";
    src: url("../fonts/sofiapro/Fonts/sofiapro-light.otf");
    }
    @font-face {
        font-family: "Tiempos";
        src: url("../fonts/Tiempos-Font/TiemposHeadline-Medium.otf")
        }

.ui.center.aligned.header {
    color: #4459C5;
    font-family: "Sofia-pro"
}
.icon { 
    color: blue;
}

.ui.message {  
    background-color: #fefeff !important;
}

.loginForm a { 
    color: #4459C5;
}
.loginForm a:hover {
    color: #6375CF
}


.ui.center.aligned.middle.grid {
    background-color: #DCDCF9 !important;
    margin-top: 40px;
    border-radius: 40% 0%;
    box-shadow: 0 !important;
}