/* General , overarching css rules */
@font-face {
    font-family: "Sofia-pro";
    src: url("fonts/sofiapro/Fonts/sofiapro-light.otf");
    }
    @font-face {
        font-family: "Tiempos";
        src: url("fonts/Tiempos-Font/TiemposHeadline-Medium.otf")
        }

body { 
    font-family: "Sofia-pro", sans-serif !important;
}
button { 
    width: 200px;
    font-family: "Sofia-pro" !important;
    background-color:#FEBA36 !important;
    color: #fefeff !important;
    transition: .5s;
}

button:hover {
    font-family: "Sofia-pro" !important;
    background-color: #FEC148 !important;
    transition: .5s;
}
